<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.FDFBpersistence.mapper.FDFBLoginfoMapper">
	<resultMap id="BaseResultMap" type="org.FDFBpersistence.pojos.FDFBLoginfo">
		<id column="seqno" property="seqno" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="createon" property="createon" jdbcType="TIMESTAMP" />
		<result column="createby" property="createby" jdbcType="VARCHAR" />
		<result column="modifyon" property="modifyon" jdbcType="TIMESTAMP" />
		<result column="modifyby" property="modifyby" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="org.FDFBpersistence.pojos.FDFBLoginfo"
		extends="BaseResultMap">
		<result column="errormsg" property="errormsg" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		seqno, type, createon, createby, modifyon, modifyby
	</sql>
	<sql id="Blob_Column_List">
		errormsg
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from fdfb_loginfo
		where seqno = #{seqno,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from fdfb_loginfo
		where seqno = #{seqno,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.FDFBpersistence.pojos.FDFBLoginfo">
		insert into fdfb_loginfo (seqno, type, createon,
		errormsg, createby,
		modifyon, modifyby)
		values (#{seqno,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{createon,jdbcType=TIMESTAMP},
		#{errormsg,jdbcType=LONGVARCHAR}, #{createby,jdbcType=VARCHAR},
		#{modifyon,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="org.FDFBpersistence.pojos.FDFBLoginfo">
		insert into fdfb_loginfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="seqno != null">
				seqno,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="createon != null">
				createon,
			</if>
			<if test="errormsg != null">
				errormsg,
			</if>
			<if test="createby != null">
				createby,
			</if>
			<if test="modifyon != null">
				modifyon,
			</if>
			<if test="modifyby != null">
				modifyby,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="seqno != null">
				#{seqno,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="createon != null">
				#{createon,jdbcType=TIMESTAMP},
			</if>
			<if test="errormsg != null">
				#{errormsg,jdbcType=LONGVARCHAR},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=VARCHAR},
			</if>
			<if test="modifyon != null">
				#{modifyon,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				#{modifyby,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.FDFBpersistence.pojos.FDFBLoginfo">
		update fdfb_loginfo
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="createon != null">
				createon = #{createon,jdbcType=TIMESTAMP},
			</if>
			<if test="errormsg != null">
				errormsg = #{errormsg,jdbcType=LONGVARCHAR},
			</if>
			<if test="createby != null">
				createby = #{createby,jdbcType=VARCHAR},
			</if>
			<if test="modifyon != null">
				modifyon = #{newMofifyon,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				modifyby = #{modifyby,jdbcType=VARCHAR},
			</if>
		</set>
		where seqno = #{seqno,jdbcType=VARCHAR}
		and modifyon = #{modifyon,jdbcType=TIMESTAMP}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="org.FDFBpersistence.pojos.FDFBLoginfo">
		update fdfb_loginfo
		set type = #{type,jdbcType=VARCHAR},
		createon = #{createon,jdbcType=TIMESTAMP},
		errormsg = #{errormsg,jdbcType=LONGVARCHAR},
		createby = #{createby,jdbcType=VARCHAR},
		modifyon = #{newModifyon,jdbcType=TIMESTAMP},
		modifyby = #{modifyby,jdbcType=VARCHAR}
		where seqno = #{seqno,jdbcType=VARCHAR}
		and modifyon = #{modifyon,jdbcType=TIMESTAMP}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.FDFBpersistence.pojos.FDFBLoginfo">
		update fdfb_loginfo
		set type = #{type,jdbcType=VARCHAR},
		createon = #{createon,jdbcType=TIMESTAMP},
		createby = #{createby,jdbcType=VARCHAR},
		modifyon = #{newModifyon,jdbcType=TIMESTAMP},
		modifyby = #{modifyby,jdbcType=VARCHAR}
		where seqno = #{seqno,jdbcType=VARCHAR}
		and modifyon = #{modifyon,jdbcType=TIMESTAMP}
	</update>
</mapper>